@model UIRS1._1.Data.Obrashenies

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Obrashenies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.POINT.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POINT.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROUTE.NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROUTE.NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VEHICLE.STATE_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VEHICLE.STATE_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texttreatment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texttreatment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Waiting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Waiting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIOdriver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIOdriver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIOconductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIOconductor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIOdispetcher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIOdispetcher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Earlyend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Earlyend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LateBeginning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LateBeginning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BigInterval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BigInterval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BreachShedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreachShedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StopTravel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopTravel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViolationLanding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViolationLanding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutputWithoutContract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutputWithoutContract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViolationOfTrafficPatterns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViolationOfTrafficPatterns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VioletionOfTrafficRules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VioletionOfTrafficRules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConflictWithConductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConflictWithConductor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConflictWithDriver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConflictWithDriver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WrongSurrendere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrongSurrendere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotAnnouncedBusstop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotAnnouncedBusstop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmokingInCabin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmokingInCabin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscussionOnPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscussionOnPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoudMusic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoudMusic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LackOfTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LackOfTickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultyBus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultyBus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmellOfGus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmellOfGus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoorSanCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoorSanCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkBoards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkBoards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkSmsService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkSmsService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOnlineMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOnlineMap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkWebBoards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkWebBoards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkMobileApplication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkMobileApplication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoorStateReversalArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoorStateReversalArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoorStateBusstop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoorStateBusstop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisadvantageOfInfrastructures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisadvantageOfInfrastructures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConflictWithDispather)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConflictWithDispather)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplianceWithShedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplianceWithShedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodQualityService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodQualityService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourteousStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourteousStaff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodTransportCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodTransportCondition)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Obrasheniya }) |
    @Html.ActionLink("Back to List", "Index")
</p>
