@model IEnumerable<UIRS1._1.Data.Obrashenies>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

</head>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.POINT.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROUTE.NUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VEHICLE.STATE_NUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texttreatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Waiting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIOdriver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIOconductor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIOdispetcher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Earlyend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LateBeginning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BigInterval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BreachShedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopTravel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViolationLanding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutputWithoutContract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViolationOfTrafficPatterns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VioletionOfTrafficRules)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConflictWithConductor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConflictWithDriver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WrongSurrendere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotAnnouncedBusstop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmokingInCabin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscussionOnPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoudMusic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LackOfTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultyBus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmellOfGus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoorSanCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkBoards)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkSite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkSmsService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOnlineMap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkWebBoards)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkMobileApplication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoorStateReversalArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoorStateBusstop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisadvantageOfInfrastructures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConflictWithDispather)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplianceWithShedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodQualityService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourteousStaff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodTransportCondition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.POINT.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROUTE.NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VEHICLE.STATE_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texttreatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Waiting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIOdriver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIOconductor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIOdispetcher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Earlyend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LateBeginning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BigInterval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BreachShedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopTravel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViolationLanding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutputWithoutContract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViolationOfTrafficPatterns)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VioletionOfTrafficRules)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConflictWithConductor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConflictWithDriver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WrongSurrendere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotAnnouncedBusstop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmokingInCabin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscussionOnPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoudMusic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LackOfTickets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultyBus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmellOfGus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoorSanCondition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkBoards)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkSite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkSmsService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOnlineMap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkWebBoards)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkMobileApplication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoorStateReversalArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoorStateBusstop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisadvantageOfInfrastructures)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConflictWithDispather)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplianceWithShedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodQualityService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourteousStaff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodTransportCondition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Obrasheniya }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Obrasheniya }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Obrasheniya })
        </td>
    </tr>
}

</table>
